@{
    ViewData["Title"] = "Please fill in this survey";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <h1 class="govuk-heading-xl">Lighting Survey</h1>

            <p class="govuk-body">We're considering making some changes to street lighting.</p>
            <p>Please fill out this survey:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>once per household</li>
                <li>if you live in the area</li>
                <li>before the deadline</li>
            </ul>

            <p class="govuk-body">Filling out this survey takes around 5 minutes.</p>

            <form asp-controller="Survey" asp-action="Start" method="post">
                <button type="submit" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
                    Start now
                </button>
            </form>
        </div>
    </div>
</main>