@{
    ViewData["Title"] = "Question 5";
}

<a asp-action="Question4" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="Summary" method="post" novalidate>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                How would you describe the level of brightness?
                            </h1>
                        </legend>
                        <span id="changed-name-hint" class="govuk-hint">
                            1 being very dark, 10 being very bright.
                        </span>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                    1
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    2
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    3
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    4
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    5
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    6
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    7
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    8
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    9
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    10
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
