@using LightingSurvey.MvcSite.ViewModels.Survey
@model QuestionPageViewModel<bool?>
@{
    ViewData["Title"] = "Question 4";
}

<a asp-action="Question3" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Are you happy with the level of lighting?
                            </h1>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input asp-for="Question.Answer" class="govuk-radios__input" type="radio" value="true" id="answerY">
                                <label class="govuk-label govuk-radios__label" for="answerY">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="Question.Answer" class="govuk-radios__input" type="radio" value="false" id="answerN">
                                <label class="govuk-label govuk-radios__label" for="answerN">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
