@{
    ViewData["Title"] = "Thanks for filling in this survey";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <h1 class="govuk-heading-xl">Lighting Survey</h1>

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Survey complete
                </h1>
                <div class="govuk-panel__body">
                    Thank you for filling in the survey
                </div>
            </div>

            <p>We will email you after the survey has closed to let you know our findings and what the next stage will be.</p>
        </div>
    </div>
</main>