@{
    ViewData["Title"] = "Question 1";
}

<a href="#" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="Question2" method="post" novalidate>
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="postcode">
                            What is your full name?
                        </label>

                    </h1>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
